<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1024602090224-tf24tstdi4cjofb6onn0182sv9uj82gb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1024602090224-tf24tstdi4cjofb6onn0182sv9uj82gb</string>
	<key>API_KEY</key>
	<string>AIzaSyBIxFlhSK5Ins-XRUzPZjCwk9P20jEgzdw</string>
	<key>GCM_SENDER_ID</key>
	<string>1024602090224</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.payDrink</string>
	<key>PROJECT_ID</key>
	<string>vendbmr</string>
	<key>STORAGE_BUCKET</key>
	<string>vendbmr.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1024602090224:ios:14308d01c405e4df137035</string>
	<key>DATABASE_URL</key>
	<string>https://vendbmr-default-rtdb.firebaseio.com</string>
</dict>
</plist>